<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>

    <p>Please click <%= link_to "here", @url %> to view and approve.</p>

  </body>
</html>