<div class="col-md-12 comment-dropdown">
    <div class="col-md-1 comment-dropdown-text">
        <span class="glyphicon glyphicon-comment"></span>
    </div>
    <div class="col-md-11 comment-dropdown-content">
	   <%= comment.content %>
    </div>
</div>
