<div class="card-stack card-round comments-container row">
    <div class="col-md-10 col-md-offset-1">
        <div class="comments">
            <%= @comment.content %>
        </div>
    </div>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', [@commentable, :comments] %>