.pdf-photo {
    margin: 0 auto;
}

.pdf-page {
    position: relative;
    overflow: hidden;
}

.pdf-photo-main-container {
    position: relative;
    height: 500px;
}

.pdf-photo-main {
    position: absolute;
    left: 25px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -10;
}

.pdf-photo-sub {
    max-height: 200px;
}

.page-break-before {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
}

.event-program, .event-date, .event-venue, .event-location, .program-name, .program-date {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
}

.event-name, .program-name {
    margin-top: 10px;
}

.event-name {
    color: #F89F4F;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
}

.event-brand, .program-brand {
    margin-top: 10px;
    width: 100%;
}

.show-header {
	border-radius: 0;
    margin-bottom: 0;
}

.space-holder {
    height: 20px;
}

.overview-text {
  font-size: 18px;
  color: #494949;
}

body {
    font-family: arial;
    padding: 0;
    background: transparent;
    position: relative;
}

h2 {
    color: #F89F4F;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 70px;
    font-size: 40px;
}

td, th {
    margin: 5px;
    color: #494949;
}

.page-number {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9c9c9c;
    position: absolute;
    right: 10px;
    top: -5px;
}

.container {
    width: 100%;
}

.top-container {
    width: 100%;
}

.panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

.panel-heading {
    border-bottom: 0;
    font-weight: bold;
}

.panel-body {
    padding: 0;
}

.brand-info, .brand-logo {
    margin-top: 50px;
}

.event-impressions, .event-giveaways {
    border: none;
}

.giveaway-item {
    border: 1px solid #494949;
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
    font-weight: bold;
}

.giveaway-count {
    border: 1px solid #494949;
    padding: 8px 10px 8px 20px;
}

.comment-text {
    padding: 8px 20px 8px 20px;
    font-size: 18px;
}

.impressions-table {
    width: 100%;
}

.impressions-table tr {
    font-size: 24px;
    text-transform: uppercase;
}

.impressions-label {
    height: 70px;
    border: 1px solid #494949;
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
}

.impressions-count {
    height: 70px;
    border: 1px solid #494949;
}

.brand-primary {
    color: #fc9f4c;
}

.contact {
    color: #9D99A8;
    padding: 15px;
    font-size: 22px;
}
.contact .name {
    font-weight: bold;
}

.contact .position {}
.contact .location {}
.contact .phone {}
