.pdf-photo {
    margin: 0 auto;
}

.pdf-page {
    position: relative;
    height: 800px;
}

.pdf-photo-main-container {
    position: relative;
    height: 500px;
}

.pdf-photo-main {
    position: absolute;
    left: 25px;
    top: 0px;
    width: 100%;
    height: 500px;
    z-index: -10;
}

.pdf-photo-sub {
    max-height: 200px;
}

.page-break-before {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
}

.event-name, .event-program, .event-date, .event-venue, .event-location, .program-name, .program-date {
	font-family: arial;
}

.event-program, .event-date, .event-venue, .event-location, .program-name, .program-date {
  font-size: 18px;
  font-weight: bold;
  color: #494949;
}

.event-name, .program-name {
    margin-top: 10px;
}

.event-name {
  color: #F89F4F;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
}

.event-brand, .program-brand {
    margin-top: 10px;
    width: 100%;
}

.show-header {
	border-radius: 0;
    margin-bottom: 0;
}

.space-holder {
    height: 20px;
}

.overview-text {
  font-size: 18px;
  color: #494949;
}

body {
	padding: 0;
  background: transparent;
  position: relative;
}

h2 {
  color: #F89F4F;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 70px;
  font-size: 40px;
}

td, th {
  margin: 5px;
  color: #494949;
}

.page-number {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9c9c9c;
    position: absolute;
    right: 10px;
    top: -5px;
}

.container {
	width: 100%;
}

.top-container {
    width: 100%;
}

.panel {
	margin-bottom: 5px;
	box-shadow: none;
    border-radius: 0;
}

.panel-heading {
	border-bottom: 0;
    font-weight: bold;
}

.panel-body {
    padding: 0;
}

.brand-info, .brand-logo {
    margin-top: 50px;
}

.event-fav-image {

}

.event-impressions {

}

.event-giveaway {

}

.giveaway-count {
    height: 50px;
    border-top: 1px solid #e0e0e0;
    padding: 8px 10px 8px 20px;
    font-size: 28px;
    text-transform: uppercase;
}

.giveaway-item {
    height: 50px;
    border-top: 1px solid #e0e0e0;
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.comment-text {
    padding: 8px 20px 8px 20px;
    font-size: 18px;
}

.group360-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.impressions-table {
    width: 100%;
}

.impressions-table tr {
    border-top: 1px solid #e0e0e0;
    height: 80px;
    font-size: 28px;
    text-transform: uppercase;
}

.impressions-label {
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
}

.brand-primary {
    color: #fc9f4c;
}

.contact {
    color: #9D99A8;
    padding: 15px;
    font-size: 22px;
}
.contact .name {
    font-weight: bold;
}
.contact .position {}
.contact .location {}
.contact .phone {}
