.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pdf-photo {
    margin: 0 auto;
}

.pdf-photo-main {
    max-height: 300px;
    width: auto;
    overflow: hidden;
}

.pdf-photo-sub {
    max-height: 200px;
}

.page-break-after {
    page-break-after: always;
}

.event-name, .program-name, .event-program, .event-date, .event-venue, .event-location {
	font-family: arial;
}
.event-name {
    margin-top: 10px;
}

.event-brand {
    margin-top: 10px;
	width: 125px;
    background-color: #FFF;
    border: 2px solid #f69c52;
}

.show-header {
	border-radius: 0;
    margin-bottom: 0;
}

.space-holder {
    height: 20px;
}

body {
	padding: 0;
    background-color: white;
}

.container {
	width: 100%;
}

.top-container {
    width: 100%;
}

.panel {
	margin-bottom: 5px;
	box-shadow: none;
    border-radius: 0;
}

.panel-heading {
	border-bottom: 0;
    font-weight: bold;
}

.panel-body {
    padding: 0;
}

.brand-info {
    float: left;
    width: 75%;
}

.brand-logo {
    float: left;
    width: 25%;
}

.event-fav-image {

}

.event-impressions {

}

.event-giveaway {

}

.giveaway-count {
    border-top: 1px solid #e0e0e0;
    padding: 8px 10px 8px 20px;
}

.giveaway-item {
    border-top: 1px solid #e0e0e0;
    padding: 8px 15px 8px 15px;
    background-color: #f8f8f8;
    font-weight: bold;
}

.comment-text {
    padding: 8px 20px 8px 20px;
    border-top: 1px solid #e0e0e0;
}

.group360-footer {
    width: 100%;
}

.impressions-table {
    width: 100%;
}

.impressions-table tr {
    border-top: 1px solid #e0e0e0;
}

.impressions-label {
    padding: 8px 15px 8px 15px;
}

.brand-primary {
    color: #fc9f4c;
}

.contact {
    color: #9D99A8;
    padding: 15px;
}
.contact .name {
    font-weight: bold;
}
.contact .position {}
.contact .location {}
.contact .phone {}
