<div class="col-md-12 form-header-label">
    <h3>Comments*</h3>
    <span class="help-block">Are there comments by the consumer, corporate, wholesaler, field, retailer, or other?</span>
</div>
<div id="event-comments">
    <%= f.fields_for :comments do |el| %>
        <%= render 'comment_fields', f: el %>
    <% end %>
    <%= link_to_add_fields "Add Event Comment", f, :comments %>
</div>
<div class="clearfix"></div>