<div class="event-details">
    <%= image_tag 'test-image.jpg', class: "event-img" %>
    <ul class="list-inline">
        <li><button class="btn btn-default">[5] Impressions</button></li>
        <li><button class="btn btn-default">Giveaways</button></li>
        <li><button class="btn btn-default">Comments</button></li>
    </ul>
</div>