<%= f.fields_for :event_giveaways, @event.event_giveaways do |eg| %>
    <% event_giveaway = eg.object %>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-12">
            <%= eg.label :giveaway_id, event_giveaway.giveaway.name, class: "control-label" %>
            <%= eg.number_field :count_given_away, class: "form-control" %>
            </div>
        </div>
    </div>
<% end %>
<div class="clearfix"></div>
