<div class="event-photos panel panel-default">
    <div class="panel-heading">Photos</div>
    <div class="panel-body">
                <% @event_decorator.photos.limit(3).each_index do |photo_index| %>
                    <div class="col-md-4 text-center">
                        <%= image_tag @event_decorator.photos[photo_index].image, class: 'img-responsive event-photo' %>
                    </div>
                <% end %> 
                <% if @event_decorator.photos.count == 0 %>
                    <p class="lead text-center">No Event Photos Have been Added Yet</p>
                <% end %>
    </div>
</div>