<div class="event-photos panel panel-default">
    <div class="panel-heading">Photos</div>
    <div class="panel-body">
        <% @event_decorator.favorite_photos[0..2].each_index do |photo_index| %>
            <div class="<%= photo_grid_class(@event_decorator.favorite_photos) %>">
                <span class="thumbnail"><%= image_tag @event_decorator.favorite_photos[photo_index].image(:small), class: 'img-responsive event-photo' %></span>
            </div>
        <% end %>
        <% if @event_decorator.favorite_photos.count == 0 %>
            <p class="lead text-center">No Event Photos Have been Favorited Yet</p>
        <% end %>
    </div>
</div>