<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-calendar"></span> Editing Event</h1>
        </div>

        <div class="form-box">
            <%= render 'form' %>
        </div>

    </div>
</div>
