<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>
            <% if can? :create, Contact %>
                <span class="glyphicon glyphicon-phone-alt"></span> Contacts
                <%= link_to [:new, :contact], class: "btn btn-primary pull-right" do %>
                <span class="visible-md visible-lg visible-sm .hidden-xs">New Contact</span><span class=".hidden-md .hidden-lg .hidden-sm visible-xs">+</span>
                <% end %>
            </h1>
            <% end %>
        </div>

        <div class="form-box">
            <div class="row">
                <% @contacts.each do |contact| %>
                    <%= render contact %>
                <% end %>
            </div>
        </div>
    </div>
</div>

