<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1><span class="glyphicon glyphicon-file"></span> <%= @descriptor %> Documents
            </h1>
        </div>

        <div class="form-box">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 card-stack card-round document-contaner">
                    <table id="documents-table" class="table document-table">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <%= render @documents %>
                        </tbody>
                    </table>
                </div>

                <br>
                <% if @event.present? %>
                    <div class="col-md-10 col-md-offset-1">
                        <p class="pull-right">
                            <%= link_to "Back to #{@event.name}", edit_event_path(@event), class: 'btn btn-default back-button' %>
                            <%= link_to new_event_document_path, id: 'new_document_link', remote: true do %>
                            <button type="button" class="new-event-btn btn btn-primary"><span>New Document</span></button>
                            <% end %>
                        </p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>