<h1>Listing documents</h1>

<table class="table" id="documents-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @documents %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_event_document_path, id: 'new_document_link', remote: true %>
