<h1>Listing documents</h1>

<table class="table" id="documents-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr data-document-id="<%= document.id %>">
        <td><%= link_to document.doc_file_name, document.doc.url %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_event_document_path %>
