<h1>Listing giveaways</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @giveaways.each do |giveaway| %>
      <tr>
        <td><%= link_to 'Show', giveaway %></td>
        <td><%= link_to 'Edit', edit_giveaway_path(giveaway) %></td>
        <td><%= link_to 'Destroy', giveaway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giveaway', new_giveaway_path %>
