<div class="col-xs-12 col-sm-12 col-md-12 event-dropdown">
    <div class="col-xs-1 col-sm-1 col-md-1 event-dropdown-text">
        <span class="glyphicon glyphicon-gift"></span>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="col-xs-1 col-sm-1 col-md-1"><%= event_giveaway.count_given_away %></div>
        <div class="col-xs-8= col-sm-8 col-md-8"><%= event_giveaway.giveaway.name %></div>
    </div>

    <div class="edit-box-dropdown">
        <%= link_to edit_event_giveaway_path(event_giveaway) do %>
        <button type="button"><span class="glyphicon glyphicon glyphicon-pencil"></span></button>
        <% end %>
    </div>

    <div class="delete-box-dropdown">
        <%= link_to event_giveaway, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <button type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <% end %>
    </div>
</div>