//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "29CE32_6_0.eot"
//= depend_on_asset "29CE32_6_0.woff"
//= depend_on_asset "29CE32_6_0.ttf"
//= depend_on_asset "29CE32_10_0.eot"
//= depend_on_asset "29CE32_10_0.woff"
//= depend_on_asset "29CE32_10_0.ttf"
//= depend_on_asset "group360-logo.png"
//= require jquery-ui

@import "bootstrap";
@import "bootstrap-datepicker3";
@import "bootstrap-timepicker/css/bootstrap-timepicker";
@import "s3_direct_upload_progress_bars";
@import "progress";
@import "tags";
@import "jquery-tokeninput/styles/token-input-facebook";

@import url("http://hello.myfonts.net/count/29ce32");

@import "colors";
@import "fonts";
@import "navigation";
@import "style-guide";
@import "global";
@import "events";
@import "buttons";
@import "brands";
@import "photos";
@import "videos";
@import "comments";
@import "contacts";
@import "event-giveaways";
@import "lightbox2/css/lightbox";
@import "chosen/chosen.min";
@import "assignments";
@import "form";
@import "documents";
@import "errors";

// Events Style

// @keyframes affixFadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }

// @-webkit-keyframes affixFadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }


// ---
// Title: An Event Background
// Name: event_bg
// Category: basics
// ---

// I'm an event background.

// html_example
// <div class="event-background">I'm inside an event background.</div>

#brand_logo, #giveaway_image, #photo_image, #media_video, .btn-absolute {
    opacity: 0;
    height: 34px;
    cursor: pointer;
    position: absolute;
}

.token-input-list-facebook {
    width: auto !important;
    margin-bottom: 10px !important;
}

// Mobile styles
@media only screen
and (max-width : 768px)
and (-webkit-min-device-pixel-ratio: 1)  {

    #atlwdg-trigger, #atlwdg-blanket, #atlwdg-container {
        display: none;
    }
}