//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"

@import "bootstrap";
@import "bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker";

.brand-image {
    width: 10%;
}
.event-header {
    padding-bottom: 4%;
}

// Events Style
.event-header {
    text-align: center;
}

.event-container, .event-detial-container {
    border: 1px solid #c5c5c5;
}

.event-group {
    height: 500px;
    overflow: scroll;
}

.event-detail {
    height: 536px;
    overflow: scroll;
}

.event-name {
    font-size: 16px;
    font-weight: bold;
}

.event-start {

}

.event-bar {
    padding: 5px 20px;
    font-size: 18px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #c5c5c5;
}

.event-info {
    border-top: 1px solid #c5c5c5;
    padding: 10px 20px;
}

.info-button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.event-info-text {
    width: 89%;
    display: inline-block;
}

.event-info-button {
    width: 10%;
    display: inline-block;
}