//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "29CE32_6_0.eot"
//= depend_on_asset "29CE32_6_0.woff"
//= depend_on_asset "29CE32_6_0.ttf"
//= depend_on_asset "29CE32_10_0.eot"
//= depend_on_asset "29CE32_10_0.woff"
//= depend_on_asset "29CE32_10_0.ttf"
//= depend_on_asset "group360-logo.png"
//= require jquery-ui

@import "bootstrap";
@import "bootstrap-datepicker3";
@import "bootstrap-timepicker/css/bootstrap-timepicker";
@import "s3_direct_upload_progress_bars";
@import "progress";
@import "tags";
@import "jquery-tokeninput/styles/token-input-facebook";

@import url("http://hello.myfonts.net/count/29ce32");

@import "colors";
@import "fonts";
@import "navigation";
@import "style-guide";
@import "lightbox2/css/lightbox";
@import "chosen/chosen.min";


// Global
.container-full {
    width: 100%;
}


/*doc
---
title: Buttons
name: buttons
category: basics
---

Who doesn't love buttons?

```html_example
    <a class="btn btn-default">Default</a>
    <a class="btn btn-primary">Primary</a>
    <a class="btn btn-success">Success</a>
    <a class="btn btn-danger">Danger</a>
```
*/

.btn-primary {
    background-color: $orange;
    border-color: $light-orange;

    &:hover, &:active, &:focus {
        background-color: $dark-orange;
        border-color: $orange;
    }
}

.margin-bottom {
    margin-bottom: 20px;
}

table {
    th {
        background-color: $white-grey;
    }
}

body {
    background-color: $lightest-grey;
    padding-top: 70px;
}

// Events Style

// @keyframes affixFadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }

// @-webkit-keyframes affixFadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }

/*doc
---
title: An Event Background
name: event_bg
category: basics
---

I'm an event background.

```html_example
    <div class="event-background">I'm inside an event background.</div>
```
*/


.event-background {

    .affix {
        top: 50px;
        left: 0;
        right: 0;
        z-index: 10;
        // animation: affixFadeIn 1s  ease-in;
        // -webkit-animation: affixFadeIn 1s;
    }

    .date-filters-container {

        @media screen and (max-width : 768px)  {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        @media screen and (max-width : 1420px)  {
            margin-left: -15px;
            margin-right: -15px;
        }

        @media screen and (min-width : 1420px)  {
            border-radius: 5px;
            box-shadow: 0 0 4px grey;

            z-index: 10;
            position: fixed;
            top: 145px;
            left: 50%;
            margin-left: -700px;
            width: 200px;
        }

        .filter-triangles {
            position: relative;
            width: 100%;

            @media screen and (max-width : 768px)  {
                display: none;
            }

            @media screen and (min-width : 1420px)  {
                display: none;
            }

            .left-triangle {
                position: absolute;
                left: 0;
                top: 103px;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 0px solid transparent;

                border-top: 15px solid #cb650b;
            }

            .right-triangle {
                position: absolute;
                right: 0;
                top: 103px;
                width: 0;
                height: 0;
                border-left: 0px solid transparent;
                border-right: 15px solid transparent;

                border-top: 15px solid #cb650b;
            }
        }
    }

    .date-filters {
        background-color: $orange;
        padding: 15px;
        position: relative;
        border-radius: 5px;

        @media screen and (min-width : 1420px)  {
            padding: 0 0 15px 0;
        }

        @media screen and (max-width : 1420px)  {
            box-shadow: 0 1px 5px grey;
            border-radius: 0;
        }

        h2,h3,h4,h5,h6 {
            color: white;
        }
        label {
            color: white;
        }

        h2 {
            font-size: 28px;
            margin-top: 30px;
            margin-bottom: 0;

            @media screen and (max-width : 768px)  {
                margin-top: 0;
            }

            @media screen and (max-width : 992px)  {
                font-size: 22px !important;
            }

            @media screen and (max-width : 1200px)  {
                font-size: 24px;
            }

            @media screen and (min-width : 1420px)  {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .filter-group {
            @media screen and (min-width : 1420px)  {
                width: 100%;
                margin-top: 20px;
            }
        }

        .form-group {
            margin-bottom: 0;
            .control-label {
                padding-top: 0;
            }

            @media screen and (min-width : 1420px)  {
                width: 100%;
                padding-bottom: 10px;
            }
        }

        $arrow-width: 50px;
        &:after, &:before {
            display: none;
            width: 0;
            height: 0;
            border-bottom: 60px solid transparent;
            border-top: 0 solid transparent;
            content: '';
            position: absolute;
            top: 100%;
            z-index: -10;
        }

        &:after {
            border-left: $arrow-width solid $dark-orange;
            right: 0;
        }

        &:before {
            border-right: $arrow-width solid $dark-orange;
            left: 0;
        }
    }
}


.event-header, .show-header {
    padding-bottom: 4%;
    background-color: $dark-grey;
    border-bottom: 1px solid $darkest-grey;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: TrendSansOne, sans-serif;

    @media screen and (max-width : 768px)  {
        border-radius: 0;
    }

    h1 {
        margin: 0;
        font-size: 30px;
    }

    .event-name {
        color: white;
    }
}

.show-header {
    margin-bottom: 20px;
    border-radius: 3px;
}

.event-group {
    .row:first-child .event-timeline {
        top: 50%;
    }
    .row:last-child .event-timeline {
        bottom: 50%;
    }
}

.container-box {
    background-color: white;
    padding: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 10px $grey;
    -moz-box-shadow: 0px 3px 10px $grey;
    box-shadow: 0px 3px 10px $grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.event-name {
    font-size: 26px;
    font-weight: bold;
    color: $dark-grey;
}

.event-logo {
    height: 65px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}

.event-img {
    margin: 10px 0;
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 5px;
}

.event-bar {
    padding: 5px 20px;
    font-size: 18px;
    width: 100%;
    background-color: $white-grey;
    border-bottom: 1px solid #e1e1e1;
}

.event-info {
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $light-grey;
    border-left: 5px solid $light-grey;
    border-right: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px $light-grey;
    -moz-box-shadow: 0px 0px 10px $light-grey;
    box-shadow: 0px 0px 10px $light-grey;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @media screen and (max-width : 767px)  {
        width: 100%;
        border-left: 1px solid $light-grey;
        border-radius: 8px;
    }

    &:hover {
        // background-color: $white-grey;
        -webkit-box-shadow: 0px 0px 15px #b6b6b6;
        -moz-box-shadow: 0px 0px 15px #b6b6b6;
        box-shadow: 0px 0px 15px #b6b6b6;

        a {
            .edit-box {
                opacity: 1;
            }
        }
    }

    .active {
        background-color: $white-grey;
        border-left: 5px solid #7f7f7f;
    }
}

.event-circle {
    // width: 30px;
    // height: 30px;
    // border-radius: 50%;
    // background: $lightest-orange;
    // border: 3px solid $light-grey;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: -10%;
    z-index: 5;
    button {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: white;
        border: 2px solid $light-grey;
        font-size: 22px;
        color: $dark-grey;
        padding: 0;

        &:hover {
            color: $orange;
        }
    }
}

.event-timeline {
    width: 3px;
    background-color: $light-grey;
    top: -15%;
    bottom: -26%;
    position: absolute;
    left: -10%;
    margin-left: 13px;
    z-index: 4;
}

.event-arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:15px solid $light-grey;

    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: -2.9%;
    z-index: 4;

    @media screen and (max-width : 768px)  {
        left: -3%;
    }
}

.event-arrow, .event-timeline, .event-circle {
    @media screen and (max-width : 767px)  {
        display: none;
    }
}

.info-button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.event-info-text {
    padding-left: 0;
}

.event-info-button {
    padding-right: 0;
    padding-left: 0;
}

.no-event-photos {
    display: block;
    clear: both;
    text-align: center;
    padding: 5%;
    margin: 5% 0;
    border-radius: 5px;
    border: 2px dotted $dark-grey;
    color: $dark-grey;
    font-family: TrendSansOne, sans-serif;
    &:hover {
        background-color: white;
        border: 2px dotted $orange;
        color: $orange;
    }
}

.event-details {
    @extend .clearfix;

    .quick-info {
        position: relative;
        clear: left;
        margin-top: 10px;

        li {
            @media screen and (max-width : 768px)  {
                padding-left: 5px !important;
                margin-bottom: 15px;
            }
        }
    }
}

.event-photos {
    .event-photo {
        max-height: 215px;
        margin: 0 auto;
    }
}

.list-photos {
    min-height: 100%;
    min-width: 100%;
    border-radius: 5px;
}

.list-photo-container {
    width: 100%;
    border-radius: 5px;
    height: 150px;
    overflow: hidden;

    @media screen and (max-width : 1200px)  {
        height: 130px;
    }
}

.photo-container {
    width: 100%;
    border-radius: 5px;
}

.tag-item {
    padding: 5px;
    display: block;
    border-radius: 8px;
    border: 2px solid #c3c2c3;
    box-shadow: 0px 0px 10px #c3c2c3;
    &:hover {
        box-shadow: 0px 0px 15px #b6b6b6;
        border-left: 1px solid #e1e1e1;
    }
}

.edit-box {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;

    button {
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255, 0.85);
        border: 2px dotted $dark-grey;
        color: $dark-grey;
        font-size: 14px;
        padding: 0;
        border-radius: 10px;

        &:hover {
            color: $orange;
            border: 2px dotted $orange;
        }
    }
}

.comments-container, .contacts-container {
    &:hover {
        .edit-box {
            opacity: 1
        }
    }
}

.favorite-box, .comments-box {
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;

    button {
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255, 0.85);
        border: 2px dotted $dark-grey;
        color: $dark-grey;
        font-size: 14px;
        padding: 0;
        border-radius: 10px;
        &:hover {
            color: $orange;
            border: 2px dotted $orange;
        }
    }
    &.active {
        opacity: 1;
        button {
            color: $orange;
            border: 2px dotted $orange;
        }
    }
}
.comments-box {
    left: 55px;
    button {
        width: 80px;
    }
}

.delete-box, .collapse-box {
    position: absolute;
    top: -12px;
    right: -12px;

    button {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: white;
        border: 2px solid $light-grey;
        font-size: 22px;
        color: $dark-grey;
        padding: 0;

        &:hover {
            color: $orange;
        }
    }
}
.collapse-box {
    right: 24px;
}

.giveaway-box {
    position: relative;
}

.photo-preview {
    display: inline-block;
}

.photo-preview[src=''] + .photo-preview-text {
    display: none;
}

.form-header-label {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 10px;
    h3 {
        margin: 10px 0 5px 0;
    }
}

.counter {
    font-weight: bold;
    font-size: 16px;
}

#photos-form-box {
    @media screen and (max-width : 1420px)  {
        padding-top: 135px;
    }
}

.form-box {
    padding: 30px;
}

.main-edit-box {
    top: 20px;
    right: 2px;
    left: auto;

    button {
        width: 55px;
        height: 55px;
        font-size: 18px;
    }
}

.control-label {
    text-align: left !important;
}

.form-control {
    height: 40px;
}

.form-row, .form-cont-box {
    margin-bottom: 10px;
}

.checkbox {
    padding-top: 0 !important;
}

.submit-container {
    margin-top: 20px;
}

.back-button, .btn-right-space {
    margin-right: 20px;
}

#brand_logo, #giveaway_image, #photo_image, #media_video, .btn-absolute {
    opacity: 0;
    height: 34px;
    cursor: pointer;
    position: absolute;
}

.input-button {
    z-index: -1;
}

.bootstrap-timepicker-widget.dropdown-menu {
    background-color: #FFF;
    a {
        text-decoration: none;
    }
}

.event-logo {
    border: 1px solid $light-grey;
    -webkit-box-shadow: 0px 0px 10px $light-grey;
    -moz-box-shadow: 0px 0px 10px $light-grey;
    box-shadow: 0px 0px 10px $light-grey;
}

.brand-icon-container {
    position: relative;

    &:hover {
        .edit-box {
            opacity: 1;
        }
    }
}

.card-stack {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid $light-grey;
    -webkit-box-shadow: 0px 0px 10px $light-grey;
    -moz-box-shadow: 0px 0px 10px $light-grey;
    box-shadow: 0px 0px 10px $light-grey;

    &:hover {
        // background-color: $white-grey;
        -webkit-box-shadow: 0px 0px 15px #b6b6b6;
        -moz-box-shadow: 0px 0px 15px #b6b6b6;
        box-shadow: 0px 0px 15px #b6b6b6;
        border-left: 1px solid #e1e1e1;
    }
}

.card-round {
    border-radius: 8px;
    border: 2px solid $light-grey;
    margin-bottom: 15px;
}

.event-giveaway-container {
    &:hover {
        .edit-box {
            opacity: 1;
        }
    }
}

.photo {
    position: relative;
    padding: 0;

    &:hover {
        .tags-box {
            opacity: 1;
        }
        .comments-box {
            opacity: 1;
        }
        .favorite-box {
            opacity: 1;
        }
        .edit-box {
            opacity: 1;
        }
    }
}

.brand-icon {
    height: 250px;
    background-color: $white-grey;
    overflow: hidden;
}

.brand-logos {
    min-height: 100%;
    min-width: 100%;
}

.prize-icon {
    height: 150px;
    background-color: $white-grey;
}

.event-giveaway-icon {
    height: 70px;
    text-align: center;
    overflow: hidden;
    background-color: $white-grey;
    border: 1px solid #dddddd;
    padding: 0;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#event-giveaways {
    clear: both;
    // overflow: hidden;

    fieldset {
        position: relative;
        padding-bottom: 20px;

        .remove-label {
            position: absolute;
            top: 5px;
            right: 5px;
            text-decoration: none;
        }
    }
}

.event-giveaway-name {
    height: 70px;
}

.add_fields {
    margin: 5px 15px; // Act like it's in the row

    // Put onto it's own line w/o additional markup
    float: left;
    clear: both;

}

.comments {
    font-size: 18px;
}

.event-dropdown {
    background-color: #f7f7f7;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.event-dropdown-text {
    color: #c3c2c3;
    font-size: 18px;
}

.giveaway-image {
    height: 100%;
}

.edit-box-dropdown, .delete-box-dropdown {

    button {
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255, 0.85);
        border: 1px solid $light-grey;
        color: $grey;
        padding: 0;
        border-radius: 10px;

        &:hover {
            color: $orange;
            border: 1px solid $orange;
        }
    }
}

.edit-box-dropdown {
    position: absolute;
    right: 60px;
    top: 3px;

    button {
        font-size: 14px;
    }
}

.delete-box-dropdown {
    position: absolute;
    right: 10px;
    top: 3px;

    button {
        font-size: 22px;

        span {
            padding-top: 5px;
        }
    }
}

.giveaway-add, .comment-add {
    position: absolute;

    .event-dropdown-add-btn {
        background-color: $dark-grey;
        color: white;

        &:hover {
            background-color: $orange;
        }
    }
}

.giveaway-add {
    right: -3px;
    top: -8px;
}

.comment-add {
    right: -3px;
    top: -8px;
}

.event-dropdown-add-btn {
    padding: 3px 4px 0px 4px;
    border-radius: 15px;
    span {
        font-size: 18px;
    }
}

.document-table {
    margin-bottom: 0px;
    border: 2px solid #e6e6e6;
    > tbody > tr > td {
        vertical-align: middle;
    }
}

.current-photo-container {
    img {
        box-shadow: 0 0 5px #58585a;
    }

    p {
        font-weight: bold;
        font-size: 16px;
    }
}

.open, .dropdown{
    #resources-drop:focus, #resources-drop:hover {
        background-color: $orange;
    }
}

.dropdown-menu {
    background-color: $dark-grey;
    li {
        a:hover {
            background-color: $orange;
        }
    }
}

// Style Guide

@import "assignments";
@import "events";
@import "photos";
@import "contacts";
@import "errors";

// Mobile styles
@media only screen
and (max-width : 768px)
and (-webkit-min-device-pixel-ratio: 1)  {

    #atlwdg-trigger, #atlwdg-blanket, #atlwdg-container {
        display: none;
    }
}