#user-select-table, #assignable-select-table {
    background-color: white;
}

.user-assignments-cell {
	ul.assignment-list {
		padding-top: 0;
		margin: 0;

		.brand-assignment {

		}
		.program-assignment {

		}
	}
}

[data-you] {
	font-weight: bold;
}

.assign_form, .unassign_form {
	display: inline-block;
}

[data-toggles-all] {
	cursor: pointer;
}