.brand-icon {
    height: 250px;
    background-color: $white-grey;
    overflow: hidden;
}

.brand-logos {
    min-height: 100%;
    min-width: 100%;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}