.brand-icon {
    height: 250px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    font: 0/0 a;
}

.brand-icon:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.brand-logos {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}