// Colors
$white-grey: #f8f8f8;
$lightest-orange: #ffcb9f;
$light-orange: #fcb171;
$orange: #fc9f4c;
$dark-orange: #ff8d28;

$lightest-grey: #e4e4e5;
$light-grey: #c3c2c3;
$grey: #8b8a8f;
$dark-grey: #58585a;
$darkest-grey: #404041;