.impressions {
	float: left;
	font-family: TrendSansOne, sans-serif;
	text-align: center;
	font-size: 200%;
	&.estimated-total-impressions {
		font-size: 300%;
		&:after {
			content: 'Total';
		}
	}
	&.mileage-impressions {
		&:after {
			content: 'Mileage';
		}
	}
	&.footprint-attendance {
		&:after {
			content: 'Footprint';
		}
	}
	&.display-attendance {
		&:after {
			content: 'Walk-by';
		}
	}
	&.total-attendance {
		&:after {
			content: 'Event';
		}
	}
	&.extended-engagements {
		&:after {
			content: 'Extended';
		}
	}
	&.digital-engagements {
		&:after {
			content: 'Digital';
		}
	}
	&:after {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		display: block;
		line-height: 0.6;
	}
}