.impressions {
	float: left;
	font-family: TrendSansOne, sans-serif;
	text-align: center;
	font-size: 200%;
	&.estimated-total-impressions {
		font-size: 300%;
	}

	.heading {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		display: block;
		line-height: 1;
	}
	&.event-giveaway .giveaway-image {
		height: 150px;
		width: 150px;
		margin: 0 auto;
		text-align: center;
		img {
			margin: 0 auto;
			max-height: 100%;
		}
	}
}

.event-venue, .event-location {
    color: #fc9f4c;
}

.event-brand {
    background-color: #FFF;
}