@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    src: asset-url('Gotham-Medium.eot');
    src: asset-url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        asset-url('Gotham-Medium.woff') format('woff'),
        asset-url('Gotham-Medium.ttf') format('truetype'),
        asset-url('Gotham-Medium.svg') format('svg');
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: asset-url('Gotham-Bold.eot');
    src: asset-url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        asset-url('Gotham-Bold.woff') format('woff'),
        asset-url('Gotham-Bold.ttf') format('truetype'),
        asset-url('Gotham-Bold.svg') format('svg');
}

.pdf-photo {
    margin: 0 auto;
}

.pdf-page {
    position: relative;
    overflow: hidden;
}

.pdf-photo-main-container-bg {
    position: relative;
    height: 500px;
}

.pdf-photo-main-container {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -10;
}

.pdf-photo-main {
    position: absolute;
    width: 100%;
    height: auto;
    left: 25px;
    top: 0px;
    z-index: -10;
}

.pdf-photo-sub {
    margin-bottom: 30px;
    border: 2px solid #494949;
    height: 161px;
    width: auto;
}

.page-break-before {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
}

.event-program, .event-date, .event-venue, .event-location, .program-name, .program-date {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
}

.event-name, .program-name {
    margin-top: 10px;
}

.event-name {
    color: #F89F4F;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
}

.event-brand, .program-brand {
    margin-top: 10px;
    width: 100%;
}

.show-header {
	border-radius: 0;
    margin-bottom: 0;
}

.space-holder {
    height: 20px;
}

.overview-text {
  font-size: 18px;
  color: #494949;
}

body {
    font-family: arial;
    padding: 0;
    background: transparent;
    position: relative;
}

h2 {
    color: #F89F4F;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 70px;
    font-size: 40px;
}

td, th {
    margin: 5px;
    color: #494949;
}

.page-number {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9c9c9c;
    position: absolute;
    right: 10px;
    top: -5px;
}

.container {
    width: 100%;
}

.top-container {
    width: 100%;
}

.panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

.panel-heading {
    border-bottom: 0;
    font-weight: bold;
}

.panel-body {
    padding: 0;
}

.brand-info, .brand-logo {
    margin-top: 50px;
}

.event-impressions, .event-giveaways, .program-comments {
    border: none;
}

.giveaway-item, .program-comment {
    border: 1px solid #494949;
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
    font-weight: bold;
}

.giveaway-count, .program-comment-count {
    border: 1px solid #494949;
    padding: 8px 10px 8px 20px;
}

.comment-text {
    padding: 8px 20px 8px 20px;
    font-size: 18px;
}

.impressions-table {
    width: 100%;
}

.impressions-table tr {
    font-size: 24px;
    text-transform: uppercase;
}

.impressions-label {
    height: 50px;
    border: 1px solid #494949;
    padding: 8px 15px 8px 15px;
    background-color: #CCCCCC;
}

.impressions-count {
    height: 50px;
    border: 1px solid #494949;
}

.brand-primary {
    color: #fc9f4c;
}

.contact {
    color: #9D99A8;
    padding: 15px;
    font-size: 22px;
}
.contact .name {
    font-weight: bold;
}

.contact .position {}
.contact .location {}
.contact .phone {}

.programs-photo-main-continer {
    position: relative;
}

.programs-photo-main-container-bg {
    position: relative;
    height: 500px;
}

.programs-photo-main {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
