.list-photo-container > a {
	height: 100%;
	width: 100%;
	display: table;
}

.image-processing {
	text-align: center;
	vertical-align: middle;
	display: table-cell;

}

#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0 auto;
    background: #eee;
    padding: 1%;
    width: 80%;
    li {
        margin: 2.5% auto;
        padding: 2.5%;
        font-size: 1.2em;
        width: 80%;
        border: 0;
    }
}