.list-photo-container > a {
	height: 100%;
	width: 100%;
	display: table;
}

.image-processing {
	text-align: center;
	vertical-align: middle;
	display: table-cell;

}

li.sortable-photo {
    height: 200px;
    width: 200px;
    overflow: hidden;
    list-style-type: none;
}

#sortable_photos {
    float: right;
}
#sortable_favorites {
    float: left;
}