.list-photo-container > a {
	height: 100%;
	width: 100%;
	display: table;
}

.image-processing {
	text-align: center;
	vertical-align: middle;
	display: table-cell;

}

.favorite-photo-background {
    padding: 15px;
}

.favorite-photo-back-btns {
    margin: 15px;
}

#sortable_favorites, #sortable_other {
    margin: 0 auto;
    background: #eee;
    padding: 1%;
    width: 80%;
    li {
        background-color: none;
        margin: 2.5% auto;
        padding: 2.5%;
        font-size: 1.2em;
        width: 80%;
        border: 0;
    }
}

#sortable_other {
    list-style-type: none;
}

.ui-sortable-helper {
    list-style-type: none;
}

.drop-placeholder {
    min-height: 100px;
}