.style-guide-body {
    padding-top: 0;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    border: 2px solid black;
}

.white-grey {
    background-color: #f8f8f8;
}

.lightest-grey {
    background-color: #e4e4e5;
}

.light-grey {
    background-color: #c3c2c3;
}

.grey {
    background-color:  #8b8a8f;
}

.dark-grey {
    background-color: #58585a;
}

.darkest-grey {
    background-color: #404041;
}

.lightest-orange {
    background-color: #ffcb9f;
}

.light-orange {
    background-color:#fcb171;
}

.orange {
    background-color: #fc9f4c;
}

.dark-orange {
    background-color: #ff8d28;
}