.tag-list {
	position: absolute;
	right: 10%;
	top: 10%;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;

	& > li {
		background: #fff;
		background: rgba(255,255,255,0.8);
		border-radius: 1px;
		padding: 2px 4px;
		margin: 0 0 5px;
	}
}

.token-input-list-facebook.token-list-display {
	border: none;
	background-color: transparent;
	padding-top: 10px;
}