.tag-list {
	position: absolute;
	right: 10%;
	top: 10%;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;

	& > li {
		background: #fff;
		background: rgba(255,255,255,0.8);
		border-radius: 1px;
		padding: 2px 4px;
		margin: 0 0 5px;
	}
}

.tags-button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px dotted #58585a;
    color: #58585a;
    font-size: 14px;
    padding: 0;
    border-radius: 10px;
}

.tags-box {
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.token-input-list-facebook.token-list-display {
	border: none;
	background-color: transparent;
	padding-top: 10px;
}