<div class="row">
    <div class="col-md-10 col-md-offset-1 container-box">
        <div class="event-header">
            <h1>Brands</h1>
        </div>

        <div class="form-box">

        <%= render 'form' %>

        <%= link_to 'Show', @brand %> |
        <%= link_to 'Back', brands_path %>

        </div>
    </div>
</div>
